<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/b0e4d4c1-0ed4-4baa-a9b2-d0464fef2781/resourceGroups/rg-it8118-25b-s5g4/providers/Microsoft.Web/sites/mvc-spiritclinic-s5g4-Ss</ResourceId>
    <ResourceGroup>rg-it8118-25b-s5g4</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://mvc-spiritclinic-s5g4-ss-e0gcd2fagegtbuek.ukwest-01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>856dc673-51e8-4327-b302-55a6970853f4</ProjectGuid>
    <MSDeployServiceURL>mvc-spiritclinic-s5g4-ss-e0gcd2fagegtbuek.scm.ukwest-01.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>mvc-spiritclinic-s5g4-Ss</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName />
    <_SavePWD>false</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>